# Database Configuration
DB_HOST=dummy_host
DB_PORT=1234
DB_USER=dummy_user
DB_PASSWORD=dummy_password
DB_NAME=dummy_db
DB_SSLMODE=disable

# Keycloak Configuration
KEYCLOAK_BASE_URL=http://dummy-keycloak:8080
KEYCLOAK_REALM=dummy_realm
CLIENT_ID=dummy_client_id

# Server Configuration
PORT=9999
GIN_MODE=debug

# Application Configuration
APP_NAME=Dummy App
APP_VERSION=0.0.1
APP_ENV=dummy
